<%- layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-3">
    <h5 class="card-title mt-1 mb-1"> <%=doc.title%></h5>
  </div>
  <div class="card col-6 offset-3 listing-card">
    <img src="<%= doc.image.url %>" class="card-img-top show-img" alt="This is the image of a place">
    <div class="card-body">
     <p>Owned by <i><%= doc.owner.username%></i></p>
      
      <p class="card-text"><%=doc.description%>
        <br/>
        &#8377;<%=doc.price%>
        <br/>
        <%=doc.location%>
<br>
        <%=doc.country%>
      </p>
     
    </div>
  </div>
  <body>
   
   
    <div class="btns">
  <%  if(currUser && currUser._id.equals(doc.owner._id)){ %>

      
      <form action="/listings/<%=doc._id%>/edit" class="col-1 offset-3">
        <button class="btn btn-dark add-btn">edit</button>
      </form>
      <br><br>
      <form action="/listings/<%=doc._id%>/delete">
        <button class="btn btn-dark">DELETE</button>
      </form>
    </div>
 <% } %>
   
 
 
 <div class="col-8 offset-3">
  <hr>
      <%if(currUser){%>
      <h4>Leave a review</h4>
      <form action="/listings/<%= doc.id %>/reviews" method="POST" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
        </div>
        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea name="review[Comment]" id="comment" rows="10" cols="30" class="form-control" required></textarea>
          <div class="invalid-feedback">please enter valid review</div>
        <button class="btn btn-outline-dark mt-2">submit</button>
        </form>
        <hr>
        <%  } %>
        <br><br>
        <p><b>All reviews</b></p>
     <div class="row">
         <% for(let review of doc.reviews){ %>
               <div class="card col-5 mb-3 ms-2">
                <div class="card-body">
                  <h5 class="card-title"><%=review.author.username%></h5>
                  <p class="card-text"><%=review.Comment%></p>
                  <p class="card-text"><%=review.rating%> stars</p>
                  <form class="mb-3" method="POST" action="/listings/<%=doc._id%>/reviews/<%=review._id%>?_method=DELETE">
                    <button class="btn btn-dark btn-sm">delete</button>
                  </form>
                </div>  
               </div>
        <% } %>
      </div>
      


        </div>
      </form>
    </div>
    </body>
    
  </div>