<%- layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-3">
    <h5 class="card-title"> <%=doc.title%>
  </div>
  <div class="card col-6 offset-3 ">
    <img src="<%= doc.image.url %>" class="card-img-top show-img" alt="This is the image of a place">
    <div class="card-body">
     
      </h5>
      <p class="card-text"><%=doc.description%>
        <br/>
        &#8377;<%=doc.price%>
        <br/>
        <%=doc.location%>
<br>
        <%=doc.country%>
      </p>
     
    </div>
  </div>
  <body>
   <div class="btns">
    
   
      <form action="/listings/<%=doc._id%>/edit" class="col-1 offset-3">
        <button class="btn btn-dark add-btn">edit</button>
      </form>
      <br><br>
      <form action="/listings/<%=doc._id%>/delete">
        <button class="btn btn-dark">DELETE</button>
      </form>
    </div>
    <div class="col-8 offset-3">
      <h4>Leave a review</h4>
      <form>
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <input type="range" min="1" max="5" id="rating" name="review[rating]">
        </div>
        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea name="review[comment]" id="comment" rows="10" cols="30" class="form-control"></textarea>
        <button class="btn btn-outline-dark">submit</button>
        </div>
      </form>
    </div>
    </body>
    
  </div>